@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  Link{
    color: #ffffff;
  }
}


body {
  background: #CBDCEB;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom global styles can be added below this line */
body {
  @apply bg-white text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

a {
  @apply  hover:underline;
}